@page
@model SITConnect.Pages.MyAccount

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome back</title>
    <style>
        #pfp_img {
            border-radius: 999999rem;
            height: 6rem;
            width: 6rem;
        }
    </style>
</head>
<body>
<img id="pfp_img" src="@Model.CurrentUser.Photo"  alt="Your profile picture"/>
<br/>
<h1>Welcome back, @Model.CurrentUser.FirstName @Model.CurrentUser.LastName.</h1>
<hr/>
<p>
    <b>Account information:</b>
</p>
<ul>
    <li>
        <b>Email address:</b> @Model.CurrentUser.Email
    </li>
    <li>
        <b>Date of birth:</b> @Model.CurrentUser.DateOfBirth.Date
    </li>
</ul>
<p>
    <b>Billing information:</b>
</p>
<p>The current card number we have on file is @Model.CurrentUserCardNumber</p>
<hr/>
<p>
    <b>Security &amp; Audits</b>
</p>
<p>
    Check your account activity:<br/>
    <a class="btn btn-light" asp-page="AuditDisplay">View logs</a>
</p>
<p>
    Change your password routinely to ensure security:<br/>
    <a class="btn btn-light" asp-page="ChangePassword">Change password</a>
</p>
<hr/>
<p>
    <b>Finished browsing?</b>
</p>
<form method="post">
    <p>
        <button class="btn btn-light" type="submit" value="logout" formaction="/Logout">Log out</button>
    </p>
</form>

</body>
</html>